/*
Error: Invalid CSS after "^^^^": expected "{", was ""
        on line 10 of assets/sass/style.scss

5: @import "lib/litestrap/litestrap";
6: @import "lib/litestrap/options";
7: 
8: 
9: ^^^^

Backtrace:
assets/sass/style.scss:10
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:638:in `block'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:305:in `call'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:305:in `_process_changes'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:269:in `block in _wait_for_changes'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:252:in `loop'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:252:in `_wait_for_changes'
/Users/rey/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:341:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"^^^^\": expected \"{\", was \"\"\A         on line 10 of assets/sass/style.scss\A \A 5: @import \"lib/litestrap/litestrap\";\A 6: @import \"lib/litestrap/options\";\A 7: \A 8: \A 9: ^^^^"; }
